.card__del {
  background-image: url(../../../images/del.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 18px;
  height: 19px;
  margin: auto 0;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card__del:hover {
  opacity: .6;
}
