.form__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFF;
    padding-top: 15px;
    margin: 0 auto;
}
