.profile {
  display: flex;
  margin: 0 auto;
  padding-top: 42px;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 750px) {
  .profile {
    display: grid;
    grid-template-columns: 120px 1fr 170px;
    padding: 40px 27px 0;
    max-width: 880px;
  }
}

@media screen and (min-width: 900px) {
  .profile {
    padding: 40px 0 0;
    grid-template-columns: 120px 1fr 150px;
  }
}
