.card {
  min-height:  361px;
  min-width: 282px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
