.modal-form_for_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 230px;
  height: fit-content;
  border-radius: 10px;
  margin: 0;
  padding: 10px;
  padding-bottom: 50px;
  box-sizing: border-box;
  white-space: pre-line;
  text-align: center;
}

@media screen and (min-width: 560px) {
  .modal-form_for_info {
    min-width: 430px;
    min-height: 330px;
    margin: 0;
    padding: 26px;
  }
}
