.card__like {
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 22px;
  height: 19px;
  margin: 0 auto;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
  transition: transform .5s;
}

.card__like:hover {
  opacity: .5;
}

.card__like:active {
  transform: scale(1.3);
}
